<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="children.lemoon"
    android:versionCode="110"
    android:versionName="1.1.0" >

    <uses-sdk
        android:minSdkVersion="12"
        android:targetSdkVersion="17" />



 <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    
    
    <application
        android:name="children.lemoon.MyApp"
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
 
        <activity android:name="children.lemoon.ui.MainActivity"
            android:screenOrientation="landscape" >
            <intent-filter  >
                <!--   
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
               -->
            </intent-filter>
        </activity>        
       
        <activity 
            android:name="children.lemoon.categrid.MoviesGridActivity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:exported="true">
        </activity>
        
        <!--  -->
        <activity 
            android:name="children.lemoon.player.org.Player"
            android:screenOrientation="landscape"
            android:launchMode="singleTask"
            android:process=":mvplayer"
            android:exported="true" >
             <!--    
            <intent-filter  >
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
              -->  
        </activity> 
         
        
        <activity 
            android:name="children.lemoon.music.MuPlayer"
            android:screenOrientation="landscape" 
            android:launchMode="singleTask"
            android:exported="true">
            <!--  
            <intent-filter  >
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>         
        
               <!-- 注册服务 -->
        <service android:name="children.lemoon.music.PlayerService">
			<intent-filter>
			    <action android:name="lemoon.action.CTL_ACTION"/>
			</intent-filter>            
        </service> 
        
        
        <service android:name="children.lemoon.ui.loading.LoadDataSrv"/>
        
 
        <receiver android:name="children.lemoon.music.RemoteControlReceiver">
		    <intent-filter>
		        <action android:name="android.intent.action.MEDIA_BUTTON" />
		    </intent-filter>
		</receiver>

    </application>

</manifest>
